.submitButton {
  width: 100%;
  padding: 0.8rem;
  text-transform: uppercase;
  margin: 1.6rem 0 1.5rem;
  border-radius: 4rem;
  border-style: none;
  background-color: var(--orange);
  color: var(--white);
  font-size: 0.90rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.submitButton:hover {
  background-color: var(--white);
  color: var(--orange);
}
