.circle {
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: var(--notso-dark-blue);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  color: var(--medium-grey);
  font-weight: 700;
  text-decoration: none;
}

.circle:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.circle:focus {
  background-color: var(--medium-grey);
  color: var(--white);
}

@media screen and (min-width: 461px) {
  .circle {
    width: 3.13rem;
    height: 3.13rem;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
}