.card {
  margin: 4.44rem 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem;
  min-width: 17.5rem;
  background-color: var(--dark-blue);
  border-radius: 1.2rem;
  box-shadow: 3px 3px 30px black;
}

.starIcon {
  background: url("./../../public/images/icon-star.svg") no-repeat center center;
  background-color: var(--notso-dark-blue);
  background-size: 35%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  align-items: center;
}

.heading {
  padding: 1.1rem 0 0.8rem;
  color: var(--white);
  font-size: 1.55rem;
  font-weight: 400;
}

.copy {
  color: var(--light-grey);
  font-size: 0.88rem;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 1.7rem;
}

.circleContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 374px) {
  .card {
    width: 17.5rem;
    margin: 5rem auto;
  }
}

@media screen and (min-width: 461px) {
  .card {
    max-width: 25.63rem;
    height: 25.81rem;
    margin: 10.93rem auto;
    padding: 2rem;
  }

  .starIcon {
    width: 3rem;
    height: 3rem;
  }

  .heading {
    padding: 1.85rem 0 0.7rem;
    font-size: 1.8rem;
  }

  .copy {
    font-size: 0.95rem;
    line-height: 1.6;
    padding-bottom: 1.5rem;
  }
}