/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --orange: hsl(25, 97%, 53%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --notso-dark-blue: hsl(210, 22%, 21%);
  /* --dark-blue: hsl(213, 19%, 18%); */
  --dark-blue: hsl(215, 23%, 14%);

  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
}
